APP_PORT=:50051
APP_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=liveedit
DB_SSLMODE=require
ACCESS_SECRET=my-access-secret
REFRESH_SECRET=my-refresh-secret